{% extends 'base.html.twig' %}

{% block title %}EM OCCURENCE V2 : Traitement du reliquat{% endblock %}

{% block body %}



  
      <div class="container">
        <div class="container mt-4">
            <div style="background:#9F9" class="jumbotron">
                
                
                
                
{#        <table class="table table-striped">
            <thead>
              <tr>
                <th>Produit</th>
                <th>Effectif</th>
                <th>CIS</th>
                <th>Label</th>
                <th>BN Label</th>
                <th>ATC 7</th>
                <th>Catégorie</th>
                <th>A modifier</th>
              </tr>
            </thead>
            <tbody>
                {% for form in form_tab %}
                    
                    
                    
                    
                 {{ form_start(form) }}                   
                      <tr>
                        <td>{{ form_row(form.Denomination) }}</td>
                        <td>{{ form_row(form.Nbr) }}</td>
                        <td>{{ form_row(form.CIS) }}</td>
                        <td>{{ form_row(form.Label) }}</td>
                        <td>{{ form_row(form.BN_Label) }}</td>
                        <td>{{ form_row(form.ATC7) }}</td>
                        <td>{{ form_row(form.Categorie) }}</td>
                        
                        <td>
                              <input type="checkbox" id="{{ form_row(form.id) }}" name="a_modifier" checked>#}
                              
                              
                              
                              
                              
{#                            <a href="{{ path('liste_reliquat') }}/{{ todo.getId }}" class="btn btn-primary active">
                                Modif BN label#}
{#                <button class="btn btn-primary float-right">Sauvegarder</button>#}
{#                            </a>#}




{#                        </td>
                      </tr>
                            <a href="{{ path('attrib_romedi',{id: idTodo,idRomedi:romedi.getId}) }}" class="btn btn-primary active">
                                Utilisation de ce BN label
                            </a>
                      
                {{ form_end(form) }}  
                
                
                
                {% endfor %}
            </tbody>
        </table>   #}             

    <div class="container-fluid">
{#            <form name="modif_todo_liste" method="post" action="{{ path('recherche_medicament') }}">#}
            <form name="modif_todo_liste" method="post" action="{{ path('trt_reliquat_txt_mining_test') }}">
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Produit</th>
                <th>Effectif</th>
                <th>CIS</th>
                <th>Label</th>
                <th>BN Label</th>
                <th>ATC 7</th>
                <th>Catégorie</th>
                <th>Modification</th>
              </tr>
            </thead>
            <tbody>
                {% for todo in todos %}
                    
                    
                      <tr>
{#                        <td>{{ todo.Denomination }}</td>#}
                        <td><div class="form-group"><input type="text" name="Denomination_{{todo.id }}" required="required" readonly="readonly" class="form-control" value="{{ todo.Denomination }}" /></div></td>
{#                        <td>{{ todo.Nbr }}</td>#}
                        <td><div class="form-group"><input type="text" name="Nbr_{{todo.id }}" required="required" readonly="readonly" class="form-control" value="{{ todo.Nbr }}" /></div></td>
{#                        <td>{{ todo.CIS }}</td>#}
                        <td><div class="form-group"><input type="text" name="CIS_{{todo.id }}" class="form-control" /></div></td>
{#                        <td>{{ todo.Label }}</td>#}
                        <td><div class="form-group"><input type="text" name="Label_{{todo.id }}" class="form-control" /></div></td>
{#                        <td>{{ todo.BNLabel }}</td>#}
                        <td><div class="form-group"><input type="text" name="BN_Label_{{todo.id }}" required="required" class="form-control" /></div></td>
{#                        <td>{{ todo.ATC7 }}</td>#}
                        <td><div class="form-group"><input type="text" name="ATC7_{{todo.id }}" class="form-control" /></div></td>
                        <td><div class="form-group"><select name="Categorie_{{todo.id }}" class="form-control"><option value="1">Médicaments</option><option value="2">Phytothérapie</option><option value="3">Homéopathie</option><option value="4">APSI (Allergènes préparés spécialement pour un individu)</option><option value="5">Dispositif médical</option><option value="6">Logiciels médicaux DM / DM-DIV</option><option value="7">Compléments alimentaires</option><option value="8">Huiles essentielles</option><option value="9">Produits vétérinaires </option></select></div></td>
                        <td><input type="checkbox" name="id_{{todo.id }}" checked></td>

                      </tr>
                {% endfor %}
            </tbody>
        </table>
            
            
{#            <input class="btn btn-primary" type="submit" value="Envoyer" name="envoyer">#}
            <button type="submit" class="btn btn-primary">Envoyer</button>
{#                            <a href="{{ path('trt_reliquat_txt_mining_test') }}/" class="btn btn-primary active">
                                Modif BN label
                            </a>#}            
            
                </form> 
    </div>
            

            
            
            
            
    {#
    <div class="row">
      <div class="col">
        <h2 class="display-6 text-center bg-info py-4 mb-3 d-none d-md-block">Produit recherché : {{ produit_todo.denomination }}</h2>
      </div>
    </div>
    
    
    
    <div class="container-fluid">

        <table class="table table-striped">
            <thead>
              <tr>
                <th>BN label</th>
                <th>Label</th>
                <th>Code ATC</th>
                <th>Code CIS</th>
                <th>Attribution de ce produit</th>
              </tr>
            </thead>
            <tbody>
                {% for romedi in romedis %}
                      <tr>
                        <td>{{ romedi.BNLabelRomedi }}</td>
                        <td>{{ romedi.Label }}</td>
                        <td>{{ romedi.ATC7 }}</td>
                        <td>{{ romedi.CIS }}</td>
                        <td>
                            <a href="{{ path('attrib_romedi',{id: idTodo,idRomedi:romedi.getId}) }}" class="btn btn-primary active">
                                Utilisation de ce BN label
                            </a>
                        </td>
                      </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            {{ knp_pagination_render(romedis) }}
        </div>
    </div>#}
{% endblock %}
