{% extends 'base.html.twig' %}

{% block title %}EM OCCURENCE V2 : Traitement du reliquat{% endblock %}

{% block body %}
    
    <div class="container-fluid mt-3 mb-5 pb-5">
        <form name="modif_todo_liste_txt_mining" method="post" action="{{ path('trt_todo_list_reliquat_txt_mining') }}">

            <table class="table table-striped">
                <thead>
                    <tr class="table-primary">
                        <th class="text-info">Denomination (base Access EM) cherché (Numéro BNPV)</th>
                        <th class="text-success">BNLabel trouvé</th>
                        <th class="text-success">Label trouvé</th>
        {#                <th class="text-body">Levenshtein</th>#}
                        <th class="text-white">Levenshtein</th>
                        <th class="text-success">CIS trouvé</th>
                        <th class="text-success">ATC7 trouvé</th>
                        <th class="text-info">id_denom_map_todo</th>
                        <th class="text-success">id_Romedi</th>
                        <th class="text-success">id_denom_map</th>
                        <th class="text-white">Type text mining</th>
                        <th class="text-white">a faire</th>
                    </tr>
                </thead>
                <tbody>

                    {% for todo in mapping %}             {# boucle sur les lignes denominations todo #}
                        
                        {% set AllReadyChecked = false %}    
                        {% for typerech in todo %}        {# boucle sur les types de recherches (1_Rom_Lab, 2_Map_Lab, 3_Rom_BNl et 4_Map_BNl) #}
                            {% for ele in typerech %}     {# boucle sur les differentes correspondances trouvées #}

                                <tr>
                                   <td class="text-info">{{ ele.Denomination }} ({{ ele.LstNumBNPV }})</td> 
                                   <td class="text-success">{{ ele.BNLabel }}</td>
                                   <td class="text-success">{{ ele.Label }}</td>
                                   <td class="text-black-50">{{ ele.Levenshtein }}</td>
                                   <td class="text-success">{{ ele.CIS }}</td>
                                   <td class="text-success">{{ ele.ATC7 }}</td>
                                   <td class="text-info">{{ ele.id_denom_map_todo }}</td>
                                   <td class="text-success">{{ ele.id_Romedi }}</td>
                                   <td class="text-success">{{ ele.id_denom_map }}</td>
                                   
                                    {% if ele.TypeTxtMining == '1_Rom_Lab' %}
                                        <td class="text-info">denom vs ROMEDI.Label</td>
                                    {% elseif ele.TypeTxtMining == '2_Map_Lab' %}
                                        <td class="text-info">denom vs TabMapping.Label</td>
                                    {% elseif ele.TypeTxtMining == '3_Rom_BNl' %}
                                        <td class="text-info">denom vs ROMEDI.BN Label</td>
                                    {% elseif ele.TypeTxtMining == '4_Map_BNl' %}
                                        <td class="text-info">denom vs TabMapping.BN Label</td>
                                    {% else %}
                                        <td class="text-info">{{ ele.TypeTxtMining }}</td>
                                    {% endif %}

                                   <td class="text-success">
{#                                       <input type="checkbox" 
                                              id="chk_todo_{{ '%06d'|format(ele.id_denom_map_todo) }}_{{ '%06d'|format(ele.id_Romedi) }}_{{ '%06d'|format(ele.id_denom_map) }}_{{ '%06d'|format(ele.TypeTxtMining) }}" 
                                              name="chk_todo_{{ '%06d'|format(ele.id_denom_map_todo) }}_{{ '%06d'|format(ele.id_Romedi) }}_{{ '%06d'|format(ele.id_denom_map) }}_{{ '%06d'|format(ele.TypeTxtMining) }}" 
                                              value="{{ '%06d'|format(ele.id_denom_map_todo) }}_{{ '%06d'|format(ele.id_Romedi) }}_{{ '%06d'|format(ele.id_denom_map) }}_{{ '%06d'|format(ele.TypeTxtMining) }}">#}
                                       <input type="checkbox" 
                                              id="chk_todo_{{ '%06d'|format(ele.id_denom_map_todo) }}_{{ '%06d'|format(ele.id_Romedi) }}_{{ '%06d'|format(ele.id_denom_map) }}_{{ '%06d'|format(ele.Levenshtein) }}_{{ ele.TypeTxtMining|slice(0,1) }}" 
                                              name="chk_todo_{{ '%06d'|format(ele.id_denom_map_todo) }}_{{ '%06d'|format(ele.id_Romedi) }}_{{ '%06d'|format(ele.id_denom_map) }}_{{ '%06d'|format(ele.Levenshtein) }}_{{ ele.TypeTxtMining|slice(0,1) }}" 
                                              value="{{ '%06d'|format(ele.id_denom_map_todo) }}_{{ '%06d'|format(ele.id_Romedi) }}_{{ '%06d'|format(ele.id_denom_map) }}_{{ '%06d'|format(ele.Levenshtein) }}_{{ ele.TypeTxtMining|slice(0,1) }}"
                                        {% if AllReadyChecked == false and ele.Levenshtein == 0 and (ele.TypeTxtMining == '1_Rom_Lab' or ele.TypeTxtMining == '2_Map_Lab') %}
                                              checked
                                            {% set AllReadyChecked = true %}
                                        {% endif %}
                                       >
                                   </td>

                               </tr>

                            {% endfor %}
                        {% endfor %}
                            <tr class="table-primary">
                                <td class="text-info">Denomination (base Access EM) cherché (Numéro BNPV)</th>
                                <td class="text-success">BNLabel trouvé</th>
                                <td class="text-success">Label trouvé</th>
                                <td class="text-white">Levenshtein</td>
                                <td class="text-success">CIS trouvé</th>
                                <td class="text-success">ATC7 trouvé</th>
                                <td class="text-info">id_denom_map_todo</td>
                                <td class="text-success">id_Romedi</td>
                                <td class="text-info">id_denom_map</td>
                                <td class="text-white">Type text mining</td>
                                <td class="text-white">a faire</td>
                            </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary btn-lg float-right">Envoyer</button>
        </form>
        
		{{ knp_pagination_render(mapping) }}
    </div>
    {#  javascript pour éviter que l'utilisateur ne coche plusieurs case a cocher pour une ligne de la table todo #}
    {{ encore_entry_script_tags('txt_mining_todo_list') }}
{% endblock %}
