{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="container mt-4">

            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-10">{{ form_row(form.Denomination) }}</div>
                <div class="col-md-2">{{ form_row(form.Nbr) }}</div>
            </div>
            <div class="jumbotron">
                {{ form_row(form.BN_Label) }}
                
{#                {{ dump(form.vars.value.id) }}#}
                <a href="{{ path('liste_reliquat') }}/rech_romedi/{{ form.vars.value.id }}" class="btn btn-primary active">
                    Recherche du BN label dans ROMEDI
                </a>
                
                
{#                <p class="text-center"><strong>OU</strong></p>
                {{ form_row(form.BN_Label_Romedi) }}#}
            </div>
            {{ form_row(form.Label) }}
            <div class="row justify-content-around">
                <div class="col-md-2">{{ form_row(form.CIS) }}</div>
                <div class="col-md-2">{{ form_row(form.ATC7) }}</div>
            </div>

            <button class="btn btn-primary">Sauvegarder</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
