{% extends 'base.html.twig' %}

{% block title %}EM OCCURENCE V2 : Traitement du reliquat{% endblock %}

{% block body %}
    <div class="container-fluid">

        <table class="table table-striped">
            <thead>
              <tr>
                <th>BN label</th>
                <th>Label</th>
                <th>Code ATC</th>
                <th>Code CIS</th>
                <th>Attribution de ce produit</th>
              </tr>
            </thead>
            <tbody>
                {% for romedi in romedis %}
                      <tr>
                        <td>{{ romedi.BNLabelRomedi }}</td>
                        <td>{{ romedi.Label }}</td>
                        <td>{{ romedi.ATC7 }}</td>
                        <td>{{ romedi.CIS }}</td>
                        <td>
{#                            <a href="{{ path('liste_reliquat') }}/{{ idTodo }}/attrib_romedi/{{ romedi.getId }}" class="btn btn-primary active">#}
                            <a href="{{ path('attrib_romedi',{id: idTodo,idRomedi:romedi.getId}) }}" class="btn btn-primary active">
                                Utilisation de ce BN label
                            </a>
                        </td>
                      </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            {{ knp_pagination_render(romedis) }}
        </div>
    </div>
{% endblock %}
