{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Produit</th>
                <th>Effectif</th>
                <th>CIS</th>
                <th>Label</th>
                <th>BN Label</th>
                <th>ATC 7</th>
                <th>Modification</th>
              </tr>
            </thead>
            <tbody>
                {% for todo in todos %}
                      <tr>
                        <td>{{ todo.Denomination }}</td>
                        <td>{{ todo.Nbr }}</td>
                        <td>{{ todo.CIS }}</td>
                        <td>{{ todo.Label }}</td>
                        <td>{{ todo.BNLabel }}</td>
                        <td>{{ todo.ATC7 }}</td>
                        <td>
                            <a href="{{ path('liste_reliquat') }}/{{ todo.getId }}" class="btn btn-primary active">
                                Modif BN label
                            </a>
                        </td>
                      </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
