<!DOCTYPE html>
<html>
    <head>
    {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %}EM OCCURENCE V2{% endblock %}</title>
{#        <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css"/>#}
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}
        {% endblock %}
    {% endblock %}    
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
{#          <a class="navbar-brand" href="{{ path('recherche_medicament') }}">Occurence d'une erreur médicamenteuse</a>#}
{#          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>#}

          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="{{ path('recherche_medicament') }}">Rercherche d'un médicament</a>
              </li>
              <li class="nav-item">
{#                <a class="nav-link" href="{{ path('preparation_data') }}">Préparation des données</a>#}
                <a class="nav-link" href="{{ path('preparation_data') }}" onclick="return confirm('Voulez-vous lancer la mise à jour de la base ?');">Préparation des données</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ path('trt_reliquat_txt_mining') }}">Traitement du reliquat par text mining</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ path('liste_reliquat') }}">Traitement du reliquat manuem</a>
              </li>
{#              <li class="nav-item">
                <a class="nav-link" href="{{ path('trt_reliquat_txt_mining_label') }}">Traitement du reliquat par text mining - levenshtein() sur Label</a>
              </li>#}
{#              <li class="nav-item">
                <a class="nav-link" href="{{ path('trt_reliquat_txt_mining_similar_text') }}">Traitement du reliquat par text mining - similar_text()</a>
              </li>#}
            </ul>
          </div>
        </nav>
                
{#    Permet l'affichage des messages flash            #}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        
{#        <div class="container">#}
            {% block body %}{% endblock %}
{#        </div>#}
{#        <script src="{{ asset('build/app.js') }}"></script>#}
            
        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
