{% extends 'base.html.twig' %}
{% form_theme form_rech_med 'bootstrap_4_layout.html.twig' %}
{% block head %}
    {{ parent() }}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% endblock head %}
{% block title %}EM OCCURENCE V2 : Recherche d'un médicament{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('recherche_medicament') }}
{% endblock %}
{% block body %}
    <div class="container">
        {{ form_start(form_rech_med) }}
        <div class="jumbotron mt-4">
            <div class="row">
                <div class="col">
                    <p class="text-center">
                        {{ form_label(form_rech_med.produit, "Médicament : ") }}
                    </p>
                </div>       

            {#        {{ form_errors(form_rech_med.produit) }}#}
                <div class="col-5">
                    {{ form_widget(form_rech_med.produit, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="col">
                    {{ form_row(form_rech_med.submit, {'attr':{'class': 'btn btn-dark'}}) }}           
                </div>
            </div>
        </div>

            {% if produits == "Pas de produit" %}
        {#        Merci de renseigner un nom de produit#}
            {% else %}
            <div class="prod">
                <table class="table table-striped table-dark">
                    <thead>
                      <tr>
                        <th class="col-md-2">Produit</th>
                        <th class="col-md-4">Catégorie</th>
                        <th class="col-md-1 text-center">Effectif</th>
                      </tr>
                    </thead>
                    <tbody>
                {% for produit in produits %}
                    {% set EnTeteSousTab = true %}
                    {% set EnTeteTab = false %}
                    {% set LastLabel = '' %} 
                      <tr>
                        <td class="col-md-2">{{ produit.getProduit }}</td>
                        {% if produit.getCatGrille is not null%}
                            <td class="col-md-4">{{ produit.getCatGrille.getCatLib }}</td>
                        {% else %}
                            <td class="col-md-4">-</td>                    
                        {% endif %}
                        <td class="col-md-1 text-center">{{ produit.getNbr }}</td>

                      </tr>

                    {% for touslabel in touslabels %}
                        {% if produit.getProduit == touslabel.produit %}

    {#              les données du sous tableau correspondent au tableau père          #}

                            {% if EnTeteSousTab == true %}
                                    </tbody>
                                </table>
                                    

                                <table class="table table-sm table-striped">
                                    <thead>
                                        <tr>
                                            <th class="col-md-2">Produit (BN Label)</th>
{#                                            <th>Produit</th>#}
{#                                            <th>Denomination</th>#}
                                            <th class="col-md-4">Label</th>
                                            <th class="col-md-1 text-center">Effectif</th>
                                        </tr>
                                    </thead>
                                    <tbody>                            

                                {% set EnTeteSousTab = false %}
                            {% endif %}

                                        <tr>
                                            <td class="col-md-2">{{ touslabel.produit }}</td>
                                            <td class="col-md-4">{{ touslabel.Denomination }}</td>
{#                                            <td>{{ touslabel.Label }}</td>#}
                                            <td class="col-md-1 text-center">{{ touslabel.Nbr }}</td>
                                        </tr>

                        {% else %}
                            {% if EnTeteSousTab == false and EnTeteTab == false and LastLabel != touslabel.produit %}

                                    </tbody>
                                </table>
                                </div>
                                <div class="prod">
                                
                                                <table class="table table-striped table-dark">
                    <thead>
                      <tr>
                        <th>Produit</th>
                        <th>Catégorie</th>
                        <th class="text-center">Effectif</th>
                      </tr>
                    </thead>
                    <tbody>
                                {% set EnTeteTab = true %}
                            {% endif %}


                        {% endif %}

                        {% set LastLabel = touslabel.produit %} 
                    {% endfor %}                      
   
                {% endfor %}
                    </tbody>
                </table>
            </div>
                <div id="DtPrepData">                    
                    <small>Date de mise à jour : 
                        {% if DtPrepData is null %}
                            Pas de date de mise à jour
                        {% else %}
                            {{ DtPrepData|date('d/m/Y H:i:s') }}
                        {% endif %}
                    
                    </small>
                </div>
                
                <div id="divgrille"><p></p>
                    <table>
                        <tbody>
                            <tr>
                                <th class ="TabGrilleTh"> Cat. </th>
                                <th class ="TabGrilleTh"> Nb. Sig. min </th>
                                <th class ="TabGrilleTh"> Nb. Sig. max  </th>
                            </tr>
                                <tr>
                                    <td class ="TabGrilleTd">{{ grille[0].getCatLib }}</td>
                                    <td class ="TabGrilleTd">{{ grille[0].getVmin }}</td>
                                    <td class ="TabGrilleTd">{{ grille[0].getVmax }}</td>			
                                </tr>
                                <tr>
                                    <td class ="TabGrilleTd">{{ grille[1].getCatLib }}</td>
                                    <td class ="TabGrilleTd">{{ grille[1].getVmin }}</td>
                                    <td class ="TabGrilleTd">{{ grille[1].getVmax }}</td>			
                                </tr>
                                <tr>
                                    <td class ="TabGrilleTd">{{ grille[2].getCatLib }}</td>
                                    <td class ="TabGrilleTd">{{ grille[2].getVmin }}</td>
                                    <td class ="TabGrilleTd">{{ grille[2].getVmax }}</td>			
                                </tr>
                                <tr>
                                    <td class ="TabGrilleTd">{{ grille[3].getCatLib }}</td>
                                    <td class ="TabGrilleTd">{{ grille[3].getVmin }}</td>
                                    <td class ="TabGrilleTd">{{ grille[3].getVmax }}</td>			
                            </tr>
                        </tbody>
                    </table>
                </div>                                        
                    

            {% endif %}

        {{ form_end(form_rech_med) }}
    </div>
{% endblock %}
