{% extends 'base.html.twig' %}
{% form_theme form_rech_med 'bootstrap_4_layout.html.twig' %}
{% block head %}
    {{ parent() }}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% endblock head %}
{% block title %}Recherche d'un médicament{% endblock %}

{% block body %}
    <div class="container">
        {{ form_start(form_rech_med) }}

    {#        {{ form_row(form_rech_med.produit, {'attr':{'placeholder': "Merci de renseigner un nom de médicament"}}) }}#}


    {#        {{ form_widget(form_rech_med.produit, {'attr': {'placeholder': "Merci de renseigner un nom de médicament"}}) }}#}

        <div class="jumbotron mt-4">
            <div class="row">
                <div class="col">
                    <p class="text-right">
                        {{ form_label(form_rech_med.produit, "Médicament : ") }}
                    </p>
                </div>       

            {#        {{ form_errors(form_rech_med.produit) }}#}
                <div class="col-5">
                    {{ form_widget(form_rech_med.produit, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="col">
                    {{ form_row(form_rech_med.submit, {'attr':{'class': 'btn btn-dark'}}) }}           
                </div>
            </div>        
        </div>        

            {% if produits == "Pas de produit" %}
        {#        Merci de renseigner un nom de produit#}
            {% else %}
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Produit</th>
                        <th>Effectif</th>
                        <th>Catégorie</th>
                      </tr>
                    </thead>
                    <tbody>
                {% for produit in produits %}
                      <tr>
                        <td>{{ produit.getProduit }}</td>
                        <td>{{ produit.getNbr }}</td>
                        {% if produit.getCatGrille is not null%}
                            <td>{{ produit.getCatGrille.getCatLib }}</td>
                        {% else %}
                            <td>-</td>                    
                        {% endif %}

                      </tr>

                {% endfor %}
                    </tbody>
                </table>

            {% endif %}

        {{ form_end(form_rech_med) }}
    </div>
{% endblock %}
